/* main and section text style  */
/* section request-section */
.request-section {
  margin-bottom: 64px;
}
.request-section__title {
  margin-bottom: 64px;
}
@media (max-width: 768px) {
  .request-section__title {
    padding-left: 24px;
  }
}

/* /section btn-more-vacancies */
/* main and section text style  */
.text_hr {
  margin: 0;
  margin-bottom: 32px;
  width: 80%;
  border-top: 1.5px solid black;
}
@media (max-width: 640px) {
  .text__hr {
    width: 100%;
  }
  .text__input {
    width: 100%;
  }
}

/* /section request-section */
/* section request */
.request {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 340px;
}
.request__left-wrapper {
  width: 50%;
  margin-right: 80px;
}
.request__right-wrapper {
  font-family: "Roboto";
  width: 30%;
}
@media (max-width: 640px) {
  .request {
    display: block;
  }
  .request__left-wrapper {
    width: 100%;
    margin-bottom: 80px;
  }
  .request__right-wrapper {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .request {
    display: block;
  }
  .request__left-wrapper {
    width: 100%;
    margin-bottom: 64px;
  }
  .request__right-wrapper {
    width: 100%;
  }
}

.request-form__field {
  margin-right: 80px;
}

.request-info__text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 80px;
}
.request-info__contacts {
  margin: 0;
  font-weight: 400;
  font-size: 32px;
  line-height: 24px;
  margin-bottom: 8px;
}
.request-info__contacts:last-child {
  margin-bottom: 0;
}
.request-info__adress {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
}
.request-info__adress:last-child {
  margin-bottom: 0;
}

.request-field {
  margin: 0;
}
.request-field__btn {
  border: 0;
  border-radius: 0;
  min-width: 224px;
  height: 48px;
  background: #000000;
  padding: 0 24px;
  color: #fff;
  line-height: 26px;
  margin-bottom: 32px;
}
.request-field__input {
  width: 70%;
  border: none;
  font-size: 16px;
  margin-top: 8px;
  line-height: 24px;
  outline: none;
}
.request-field__a {
  border-bottom: 2px dashed black;
  text-decoration: none;
  color: black;
}
